* {
    box-sizing: border-box;
}

:root {
    --primary-color-yellow: #ffca42;
    --primary-color-blue: #1b3764;
    --primary-color-white: #f6f8fc;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cardo", serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/* ==================== Common ==================== */
a {
    text-decoration: none;
}

.container {
    width: 1300px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --width: 220px;
    --height: 65px;

    display: inline-block;
    min-width: var(--width);
    height: var(--height);
    border: 1px solid var(--primary-color-yellow);
    background: transparent;
    color: var(--primary-color-blue);
    text-align: center;
    font-family: Cardo, serif;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: var(--height); /* 23.75px */
    letter-spacing: 0.38px;
}

.btn:hover {
    opacity: 0.9;
}

.section-heading-lv1 {
    color: #fff;
    font-size: 6.5rem;
    font-weight: 700;
    line-height: 1.1; /* 71.5px */
}

.section-desc {
    color: var(--desc-color, #b4c7e7);
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.8; /* 34.2px */
}

/* ==================== Header ==================== */
.header {
    padding: 40px 0;
    background: var(--primary-color-blue);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 9px;
}

.logo__brand {
    color: #fff;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.25; /* 35px */
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link {
    color: #fff;
    font-size: 1.7rem;
    padding: 16px 24px;
    font-weight: 500;
    line-height: 1.25; /* 21.25px */
}

.cart {
    position: relative;
}

.cart:hover {
    cursor: pointer;
}

.cart__notification {
    position: absolute;
    top: -10px;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: var(--primary-color-yellow);
}

.cart__value {
    color: var(--primary-color-blue);
    font-weight: 800;
    font-size: 1rem;
}

.header-action {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.header-action__btn {
    --width: 180px;
    --height: 50px;

    background: var(--primary-color-yellow);
}

/* Hero */
.hero {
    padding: 55px 0;
    background: var(--primary-color-blue);
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 47%;
}

.hero__label {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 16px;
    color: #fff;
    font-family: Cardo;
    font-size: 2.4rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.545; /* 37.08px */
}

.hero__label::before {
    content: "";
    display: inline-block;
    width: 34px;
    height: 2px;
    background: var(--primary-color-yellow);
}

.hero__desc {
    --desc-color: #b4c7e7;

    margin-top: 32px;
}

.hero__cta {
    margin-top: 49px;
}

.hero__btn {
    --width: 220px;
    --height: 65px;

    background: var(--primary-color-yellow);
    border: none;
}

.hero__more {
    position: relative;
    margin-left: 37px;
    color: #fff;
    font-family: Cardo;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 1.25; /* 23.75px */
}

.hero__more::after {
    position: absolute;
    bottom: -3px;
    left: -4px;
    content: "";
    display: block;
    width: 157px;
    height: 2px;
    background: #fff;
}

.hero__list {
    margin-top: 49px;
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 580px;
}

.hero-item__title {
    position: relative;
    color: #fff;
    font-family: Cardo;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2; /* 28.8px */
}

.hero-item__title::before {
    position: absolute;
    left: -30px;
    bottom: 7px;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--primary-color-yellow);
}

.hero-item__value {
    margin-top: 3px;
    color: #b4c7e7;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7; /* 30.6px */
}

.hero__img {
    width: 592px;
    height: 800px;
    object-fit: cover;
}
